@page "/register"

<h3>Register for an Event</h3>

<EditForm Model="newUser" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <input @bind="newUser.Name" placeholder="Enter name" required />
    <input type="email" @bind="newUser.Email" placeholder="Enter email" required />
    
    <button type="submit">Register</button>
</EditForm>

@code {
    private UserModel newUser = new UserModel();
    private bool formSubmitted = false;

    private void SubmitForm()
    {
        formSubmitted = true;
        Console.WriteLine("User Registered");
    }
}
